* {
    margin: 0;
    font-family: thasadith, quicksand, sans-serif;
}

:root {
    --darkest: #020122;
    --bg-dark: #76a6aa;
    --bg-light: #bdd9db;
    --accent-color: #cfd2b2;  
}

h1, h2, h3 {
    font-family: quicksand, thasadith, sans-serif;
    text-align: center;
}
/* styling for the header, applies to all pages*/
header {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    background-color: var(--darkest);
    color: white;
    padding: 1rem 0;
}
#header-logo {
    display: none;
}
/*this is the social media icons*/
.short-list {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.short-list a {
    color: white;
    text-decoration: none;
}
.short-list img {
    max-width: 1rem;
}

/* code for hamburger menu */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: white;
}
/* this is the button!! */
#menu::before {
	content: "☰";
}
#menu.open::before {
	content: "X";
}
.navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	list-style: none;
    padding-inline-start: 0;
	background-color: var(--bg-dark);
	color: var(--darkest);
}
.navigation a {
	display: none;
	padding: .5rem;
	text-align: center;
	text-decoration: none;
	color: white;
}
.navigation a:hover {
	background-color: var(--bg-light);
	color: var(--darkest);
	font-weight: 700;
}
/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}
/* end of hamburger css*/

/*this is for the dark mode switch*/
/* The switch - the box around the slider */
/* the dark mode switch */
.switch {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 1rem;
    grid-column: 1/4;
    grid-row: 1/2;
    justify-self: right;
    margin-right: 1.5rem;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: .75rem;
    width: .75rem;
    left: 4px;
    bottom: 2px;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(.75rem);
    -ms-transform: translateX(.75rem);
    transform: translateX(.75rem);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* here starts the code for main*/

  .hero img {
    width: 100%;
    height: auto;
  }
/*hero box*/
/* taken out for week 06 assignment
#hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
/* do more styling on this button*//*
#hero .join {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 10rem;
    height: 3rem;
    border: .25rem solid var(--darkest);

}*/
.join {
    justify-self: center;
    align-self: center;
    background-color: var(--bg-light);
    font-family: lunasima, quicksand, sans-serif;
    font-weight: 700;
    border-radius: 5px;
}
.index-main img {
    grid-column: 1/4;
    grid-row: 1/4;
    width: 100%;
}

/* mission statement section*/
#mission {
    text-align: center;
    padding: 2rem;
}
#mission p {
    padding: 1rem;
}
#mission .join {
    border: 2px solid var(--darkest);

}

/* current events section*/
#events {
    background-color: var(--bg-dark);
    padding-bottom: 5rem;
    border: 5px solid var(--darkest);
    display: grid;
    grid-template-columns: 1fr;
}
#events h2 {
    text-align: center;
    padding: 2rem;
    font-weight: bold;
    color: var(--darkest);
}
.event-card {
    background-color: var(--bg-light);
    width: 75%;
    margin: 0 auto;
    padding: 2rem 0;
    border: 2px solid var(--darkest);
    border-radius: 10px;
}
.event-card:nth-of-type(2) {
    display: none;
}
.event-card:nth-of-type(3) {
    display: none;
}
.event-card img {
    width: 75%;
    display: block;
    margin: 0 auto;
    border: 1px solid var(--darkest);
}
.event-card h3 {
    padding: 1rem 0;
}
.event-card p {
    text-align: center;
}

/*members and spotlight section*/
#membership {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--accent-color);
}
#membership img {
    width: 75%;
    display: block;
    margin: 0 auto;
}
#membership h3 {
    padding: 2rem;
}
#membership p {
    text-align: center;
    padding: 1rem 2rem;
}
#spotlight {
    border: 5px solid var(--darkest);
    margin: 0;
    background-color: white;
}
/*section with logo cloud*/
#logos {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    background-color: var(--accent-color);
}
.logo {
    width: 100%;
    padding: .5rem;
    justify-self: center;
}
#logos p {
    grid-column: 3/6;
}
img.logo:nth-of-type(1) {
    grid-column: 2/3;
    grid-row: 1/2;
}
img.logo:nth-of-type(2) {
    grid-column: 4/5; 
    grid-row: 2/3;
}
img.logo:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 2/3;
}
img.logo:nth-of-type(4) {
    grid-column: 3/4;
    grid-row: 3/4;
}
img.logo:nth-of-type(5) {
    grid-column: 2/3;
    grid-row: 4/5;
}
img.logo:nth-of-type(6) {
    grid-column: 5/6;
    grid-row: 4/5;
}
img.logo:nth-of-type(7) {
    grid-column: 3/4;
    grid-row: 5/6;
}
 /* weather section*/
 #weather {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-dark);
    padding: 3rem;
}
#weather h2 {
    padding-bottom: 2rem;
}
.weather-flex {
    display: flex;
    justify-self: center;
}
#temp, #wind, #windchill {
    text-align: right;
    padding-right: 1rem;
}

/* footer section */
footer {
    background-color: var(--darkest);
    color: white;
    padding: 3rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
}
footer a {
    color: white;
    text-decoration: none;
    grid-column: 2/3;
    grid-row: 1/2;
}
footer p:nth-of-type(2) {
    grid-column: 1/2;

}
footer p:nth-of-type(3) {
    grid-column: 1/2;
}
footer .modified {
    grid-column: 2/3;
    grid-row: 2/4;
}

/* This is the code for the main section on the discover page*/
/*this is the div with the visits, map, and calendar sections*/
main {
    box-sizing: border-box;
}
.information {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, );
    grid-auto-rows: 600px;
}
.sidebar {
    padding-top: 2rem;
    width: 100%;
}
.calendar {
    border: solid 1px #777;
}
.map {
    border: 0;
}
.welcome {
    box-sizing: border-box;
    font-weight: 800;
    font-family: thasadith, quicksand, sans-serif;
    padding: 2rem;
    background-color: var(--darkest);
    color: white;
    text-align: center;
}
.welcome h2 {
    padding-top: 3rem;
}
.welcome p {
    padding: 2rem;
}
/* this is the picture section*/
.attraction-pictures {
    display: grid;
    grid-template-columns: 1fr;
    object-fit: contain;
}
.discover-main img {
    width: 100%;
    height: auto;
    margin: 2rem;
    margin-top: 0;

}
.attraction {
    position: relative;
    text-align: center;
    color: black;
}
.caption {
    position: absolute;
    bottom: .25rem;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: lunasima, quicksand, sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    background-color: rgb(207, 210, 178, .7);
    padding: 1rem;
}
