* {
    margin: 0;
    font-family: Delius, Ruluko, sans-seriff;
}
:root {
    --darkest: black;
    --darker-blue: #3d597b;
    --lighter-blue: #96d0ee;
    --yellow: #ffffb0;
    --pink-melon: #ffa69e; 
}
h1, h2, h3, th {
    font-family: Jua, Ruluko, sans-seriff;
    text-align: center;
    font-weight: 500;
}
h1 {
    font-size: clamp(1.5rem, 5.4vw, 45px);
}
h2, #menu {
    font-size: clamp(1.3rem, 4vw, 36px);
}
h3, th {
    font-size: clamp(1.1rem, 3vw, 27px);
}
a, p, button, li, td {
    font-size: clamp(1rem, 2vw, 2vw);
    font-weight: 500;
}
p {
    padding: 1rem;
}


header {
    background-color:var(--pink-melon);
    color: var(--darkest);
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-bottom: 2px solid var(--darkest);
}
.tempbanner {
    grid-column: 1/3;
    background: var(--darker-blue);
    padding: 2rem;
    text-align: center;
}
#today-hi {
    color: white;
    display: inline;
    padding-right: 40%;
}
#hibanner /*this is the button for the temp banner*/ {
	border: 0;
	background: none;
	color: white;
}
/* this is the button!! */
#hibanner::before {
	content: "X";
}

.tempbanner.closed {
	display: none;
}

header img {
    height: clamp( 50px, 40vw, 60vw);
    width: auto;
    margin: 0 auto;
}

/* code for hamburger menu */
#menu /*this is the button */ {
	border: 0;
	background: none;
	color: var(--darkest);
}
/* this is the button!! */
#menu::before {
	content: "☰";
}
#menu.open::before {
	content: "X";
}
nav {
    grid-column: 1/3;
}
.navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	list-style: none;
    padding-inline-start: 0;
	background-color: var(--lighter-blue);
	color: var(--darkest);
}
.navigation a {
	display: none;
	padding: .5rem;
	text-align: center;
	text-decoration: none;
	color: var(--darkest);
    font-weight: 600;
}
.navigation a:hover {
	background-color: var(--bg-light);
	color: var(--darkest);
	font-weight: 700;
}
.open a {
	display: block;
}
nav a img {
    max-width: 4vw;
    height: auto;
}
/* end of nav */

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.hero picture {
    grid-column: 1/4;
    grid-row: 1/5;
}
.hero img {
    width: 100%;
    height: auto;
}
.hero h1 {
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: var(--yellow);
    margin: 1rem;
}
.hero a {
    grid-column: 3/4;
    grid-row: 4/5;
    margin: 1rem;
}
.button {
    padding: 8px;
    border: 2px solid black;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    color: black;
    background-color: var(--yellow);
}
main h2, .reservations h1 {
    padding-top: 2rem;
}
.options {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.choice {
    position: relative;
}
.choice img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}
.label {
    position: absolute;
    top: 4vw;
    left: 50%;
    font-weight: 400;
}
.caption {
    position: absolute;
    top: 15vw;
    left: 50%;
    font-weight: 400;
}

footer {
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    border-top: 2px solid var(--darkest);
}
footer p {
    padding: 0;
}
footer h3 {
    padding-top: 1rem;
}
.location, .weather {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.location div {
    padding-top: 1rem;
}
.tomorrow {
    padding-top: 0;
}

/* for rentals page */
table {
    width: 100%;
    text-align: center;
    border: 1px solid black;
}
th, td {
    border: 1px solid black;
}
th h2 {
    padding: 1rem;
}
th {
    padding: 1rem 0;
}
td img {
    width: clamp(60px, 15vw, 300px);
    
}

/* for reservations page */
.reservations label, .reservations fieldset div, .contact label, .contact div {
    display: block;
    padding-top: 1rem;
}
.reservations fieldset, .rentaldetails, .contactform {
    margin: 2rem;
    border: 1px solid var(--darkest);
    border-radius: 6px;
}
.reservations legend, .contact legend {
    color: var(--darkest);
    padding: 0 .5rem;
}
.reservations input, .contact input {
    display: block;
    background-color: var(--yellow);
    border: solid 1px var(--darkest);
    border-radius: 6px;
    padding: .5rem;
    width: 80%;
    max-width: 400px;
}
.reservations input[type="radio"], .reservations input[type="checkbox"] {
    display: inline;
    width: 10%;
}

.reservations input[type="submit"] {
    border: solid 1px var(--darkest);
    border-radius: 6px;
    background-color: #ecf0cc;
    padding: .8rem;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 4px #999;
}

.reservations h3 {
    padding-top: 1rem;
}
.reservations textarea, .contact textarea {
    width: 100%;
}
.reservations ul {
    list-style:disc;
    padding-bottom: 1rem;
}
/* contact page */
.contact h1 {
    padding: 3rem;
    background-color: var(--darker-blue);
    color: white;
    border-bottom: 2px solid var(--darkest);
    margin-bottom: 2rem;
}
.contact p {
    text-align: center;
}
iframe {
    display: block;
    margin: auto;
    border: 0;
    margin-bottom: 2em;
    width: 100%;
}
.contact input, .contact label, .contact div {
    margin-left: 1vw;
}
.contactform {
    padding: 2rem;
}
