@media screen and (min-width: 1000px) {
    .options {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }
    .atv {
        grid-column: auto;
        width: 100%;
    }





}