@media screen and (min-width: 650px) {
    .navigation {
         flex-direction: row;
         margin: 0;
     }
     .navigation a {
         display: block;
         padding-top: 1rem;
     }
 
     /* hide hamburger button*/
     #menu {
         display: none;
     }
    }