:root {
        --darkest: #5e3023;
        --text: black;
        --light: #f6efa6;  
}
body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, "open sans", sans-serif;
}

h1,
h2,
h3 {
    font-family: "open sans", Montserrat, sans-serif;
}

/*colors yellow f6efa6, blue 00a5cf, pinkish f0d2d1, dk brown 5e3023, md brown 895737 */

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--darkest);
    color: var(--light);
    padding: 2em;
}

header img {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 6em;
    justify-self: right;
    padding-right: 2rem;
}

header h1 {
    grid-column: 2/3;
    padding-left: 1em;
}

/* code for hamburger menu */

/* small view navigation */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--light);
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: left;
}

/* this is the button!! */
#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    padding-inline-start: 0;
    background-color: var(--light);
    color: var(--darkest);
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--darkest);
}

.navigation a:hover {
    background-color: var(--darkest);
    color: var(--light);
    font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}

/* end of hamburger css*/

nav {
    background-color: #f6efa6;
}

nav a {
    color: #5e3023;
    text-align: center;
    text-decoration: none;
    font-size: 1.25em;
}

main {
    max-width: 1000px;
    margin: auto;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.herolabel {
    position: absolute;
    top: 4rem;
    left: 2rem;
}

.herolabel .was_p {
    margin: 0;
    padding: 1rem;
    font-weight: 800;
    font-size: clamp(.5rem, 5vw, 1.5rem);
}

main h2 {
    text-align: center;
    color: #5e3023;
}

 main .page-title::before {
    content: "🌎    ";
}

main hr {
    width: 90%;
    color: #5e3023;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid #5e3023;
    margin: 2em;
}

.card h3 {
    text-align: center;
    color: #f6efa6;
    background-color: #5e3023;
    padding: 1em;
    margin: 0;
}
.card a {
    text-decoration: none;
}
.card ul {
    list-style-type: none;
}
#datadisplay li {
    margin: 1rem;
}

.info {
    font-family: Montserrat, "open sans", sans-serif;
    text-align: center;
    padding-top: 1rem;
}
.weather {
    text-align: center;
    margin-bottom: 0;
}

iframe {
    display: block;
    margin: auto;
    border: 0;
    margin-bottom: 2em;
    width: 100%;
}

footer {
    background-color: #5e3023;
    color: #f6efa6;
    padding: 2em;
}

footer p {
    font-size: 1.25em;
    text-align: center;
}

#lastmodified {
    color: #f6efa6;
}

