@media screen and (min-width: 650px) {
    .navigation {
        flex-direction: row;
        margin: 0;
    }
    .navigation a {
        display: block;

    }
    main div {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }
    .info {
        padding: 3.75em;
    }
    header {
    display: grid;
    grid-template-columns: 1fr 1fr;    
    }
    header h1::after {
        content: "   🏔";
    }
    /* hide hamburger button*/
    #menu {
        display: none;
    }
}
