@media only screen and (min-width: 650px) {
    .navigation {
        flex-direction: row;
        margin: 0;
    }
    .navigation a {
        display: block;

    }
    .main_grid {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }
    
    .info {
        padding: 2.5em;
    }
    header {
    display: grid;
    grid-template-columns: 1fr 1fr;    
    }

    /* hide hamburger button*/
    #menu {
        display: none;
    }
}
@media only screen and (min-width: 500px) {
    .herolabel {
        top: .5rem;
        left: auto;
        right: 3.5rem;
    }
    .herolabel p {
        margin: 0;
        padding: 1rem;
        font-weight: 800;
        font-size: clamp(.25rem , 3vw, 1.5rem);
    }
}


